<div>
  <div class="layout layout--col gap--space-between">
    <div class="grid">
      <div class="col col--span-6 col--end">
        <div class="item h--full">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--xxxlarge">{{tempf | round}}°</span>
            <span class="label w--full">
              {{winddir_pretty}}
            </span>
          </div>
        </div>
      </div>
      <div class="col col--span-3 col--end">
        <div class="grid grid--cols-2 gap--medium">
          <div class="item">
            <div class="meta"></div>
            <div class="icon">
              <img class="weather-icon" src="/images/weather/wi-thermometer.svg" />
            </div>
            <div class="content">
              <span class="value value--small">{{feelsLike | round}}°</span>
              <span class="label">Feels Like</span>
            </div>
          </div>

          <div class="item">
            <div class="meta"></div>
            <div class="icon">
              <img class="weather-icon" src="/images/weather/wi-raindrops.svg" />
            </div>
            <div class="content">
              <span class="value value--small">{{humidity}}%</span>
              <span class="label">Humidity</span>
            </div>
          </div>

          <div class="item">
            <div class="meta"></div>
            <div class="icon">
              <img class="weather-icon" src="/images/weather/wi-day-sunny.svg" />
            </div>
            <div class="content">
              <span class="value value--xsmall">{{solarradiation | round}} w/m²</span>
              <span class="label">Solar</span>
            </div>
          </div>

          <div class="item">
            <div class="meta"></div>
            <div class="icon">
            </div>
            <div class="content">
              <span class="value value--small">{{uv | round}}</span>
              <span class="label">UV Index</span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="title_bar">
    <h1 class="title">Last updated: {{date_pretty}}</h1>
    <span class="instance">{{trmnl['plugin_settings']['instance_name']}}</span>
  </div>
</div>